body {
  color:white;
  background-color:#262626;
}

.header {
  color: #00c3ff;
  text-align: center;
}

h3 {
  color: #00c3ff;
}

a {
  color: #00c3ff;
}

.header-content {
  margin: 0 auto;
  width: 600px;
}

.reciept-item {
  color: #00c3ff;
}

#instructions {
  width: 90%;
  margin: 0 auto;
}

#message {
  display: inline-block;
  padding: 0 30px 0 30px
}

#inputedKey {
  display: inline-block;
  padding: 0 30px 0 30px
}

#pgp {
  text-align: center;
}

#pgp-content {
  margin: 0 auto;
  width: 100%;
}

#submitPgp {
  padding: 3px;
}

#messageOptions {
  clear: both;
  padding: 30px;
}

#input {
  clear: both;
  text-align: center;
}

#input-content {
  margin: 0 auto;
  width: 600px;
}

textarea {
  background-color: #f2f2f2;
  width: 400px;
  height: 400px;
}

#form * {
  padding: 7px;
  margin: 0 auto;
}

#submit {
  display: block;
  margin-top: 14px;
  padding: 3px;
}

#blockstreamResponse {
  text-align: center;
}

#blockstreamResponse-content {
  margin: 0 auto;
}

#generate {

}
#generate textarea {
  background-color: #f2f2f2;
  width: 70%;
  height: 600px;
}

#generate-header {
  margin: 0 auto;
  text-align: center;
}


#lightningInvoice {
  word-wrap: break-word;
  width: 30rem;
  margin: 0 auto;
}

#privateKey {
  font-size: x-small;
  width: 50%;
  float: left;
  text-align: center;
}

#publicKey {
  font-size: x-small;
  width: 50%;
  float: right;
  text-align: center;
}
